<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Notícias Tecnologia</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <h1>Portal de Notícias</h1>
        <p>Seja Bem vindo</p>
        <h3>08/05/2022</h3>
        <h4>Qual é a ordem cronológica dos filmes e séries da Marvel? Confira!</h4>
        <p>No mundo geek, ao falarmos em crossover, não tem para ninguém: a Marvel é campeã no quesito 'conectar' personagens e tramas em seus filmes e séries. Desde 2008, quando lançou o primeiro Homem de Ferro, o estúdio se preocupa em entrelaçar todas as produções no que é conhecido como Marvel Cinematic Universe (Universo Cinematográfico da Marvel, em português).</p>
        <p>Em meio a tantas produções do MCU, é comum que muitas pessoas se percam com a ordem cronológica dos acontecimentos vistos nas séries e filmes do estúdio. Se você faz parte deste grupo, não se preocupe. Preparamos uma lista completa com a ordem cronológica de todos os filmes e séries que fazem parte do MCU.</p>
    </body>
</html>