<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Adicionar Noticias</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <h1>Portal de Notícias</h1>
        <h2>Formulário de Notícias</h2>
        <h4>Inclua sua nova notícia</h4>
        <div class="form">
            
        </div>
    </body>
</html>