<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Portal de Notícias</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <h1>Portal de Notícias</h1>
        <h3>Seja bem vindo - Página index</h3>
    </body>
</html>